@import "general.css";

body {
    padding: 30px;
}

main {
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
    height: calc(100vh - 60px - 60px); /* viewport height - nav height - body padding */
    overflow: hidden;
}

/* browse page, people cards (click for detail, like or dislike */
main > ul {
    margin-top: 10px;
    height: 90%;
    width: 100%;
    position: relative;
}

main > ul > li {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 17px;
    background: #fff;   
}

main > ul > li:last-of-type {
    box-shadow: 0 5px 15px 2px #d6d6d6;
}

main > ul figure {
    height: 100%;
    width: 100%;
}

main > ul figure img {
    position: relative;
    height: 75%;
    width: 100%;
    display:block;
    background: #fffaaa;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    object-fit: cover;
    object-position: center;
}

main > ul figure > figcaption {
    position: relative;
    padding: 20px;
}

main > ul figure > figcaption > h2 {
    margin-bottom: 5px;
}

main > ul figure > figcaption button {
    top: -27.5px;
    right: 15px;
    width: 55px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    font-size: 1.4em;
    box-shadow: 0 5px 15px 2px #d6d6d6;
    transition-delay: .2s;
    transition-duration: .4s;
}

main > ul figure > figcaption button:active {
    transition-delay: 0s;
    transition-duration: .2s;
}

main > ul figure > figcaption form:nth-of-type(1) button {
    margin-right: 65px;
}


/* when there are no more people to display, screen becomes empty */
main > li.invisible {
    display: none;
}

main > p:last-child {
    position: absolute;
    left: 0;
    top: 45vh;
    width: 100vw;
    text-align: center;
    z-index: -999;
    opacity: .8;
}

/* login screen */
label {
    display: block;
    margin: 10px 0;
}

input[type=email], input[type=password] {
    margin: 5px 0;
    width: 100%;
    height: 30px;
}

input[type=submit] {
    margin-top: 10px;
    width: 100%;
    font-size: .9em;
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgb(216, 174, 255), #FF9699);
    border: none;
}

footer {
    color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}

/* highlight this page on navbar */
nav ul > li:nth-of-type(2) > a {
    color: rgb(0, 0, 0, .9);
}

nav ul > li:nth-of-type(2) > a > img {
    opacity: .9;
}


/* -------------------------------- desktop -------------------------------- */
@media only screen and (min-width: 800px) {
    header {
        margin-top: 50px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    main {
        max-width: 800px;
        width: 80%;
        height: 80vh;
        margin: 0 auto;
        border-radius: 15px;
    }

    main > ul {
        margin-top: 10px;
    }
}