* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(247, 247, 247);
    font-size: 16px;
    font-family: 'Gotham Pro light', sans-serif;
    line-height: 1.45em;
    color: #7e7d81;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gotham Pro', sans-serif;
    line-height: 2em;
    color: #4d4d4d;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.05em;
}

a, a:active, a:visited {
    text-decoration: none;
    color: rgb(177, 177, 177);
}

a:hover {
    color: #1CA7EC;
}

button {
    outline: none;
    border: none;
    background: #FFFFFF;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.fa-heart {
    color: #FF9699;
}

.fa-times {
    color: #797EF6;
}

/* navigation bar */
nav > img:first-of-type {
    display: none;
}

nav {
    width: 100%;
    height: 60px;
    display: block;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 5px 15px 2px #d6d6d6;
}

nav ul {
    margin: 0 auto;
    width: 95vw;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: .7em;
    line-height: 2.2em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

nav ul img {
    margin: 7px auto 0 auto;
    width: 20px;
    opacity: .33;
    display: block;
}

@media only screen and (min-width: 800px) {
    /* bottom nav */
    nav > img:first-of-type {
        width: 150px;
        align-self: center;
        display: block;
        margin: 0;
        opacity: 1;
    }

    nav {
        position: absolute;
        top: 0;
        padding: 25px 25px 0 25px;
        width: 100vw;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        margin: 0;
        width: 300px;
        font-size: .85em;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    nav ul img {
        display: none;
    }
}