@import "general.css";

/* header with page title */
header {
    padding: 0 0 0 30px;
    padding-top: 30px;
}

/* main: list with chats (liked people) */
main {
    margin-top: 10px;
}

main ul {
    list-style: none;
    padding-bottom: 25px;
}

main h2 {
    padding: 0 20px 10px 20px;
    font-size: 1.1em;
}

main ul > li {
    padding: 20px;
    background: #fff;
    border-bottom: .5px solid rgba(0, 0, 0, .2)
}

main figure {
    display: flex;
    align-items: center;
    position: relative;
}

main figure img {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

main figure > figcaption {
    margin-left: 15px;
}

main figure form button:last-of-type {
    position: absolute;
    right: 10px;
    line-height: 50px;
    color: #c1c1c1;
    background: none;
}

.invisible {
    display: none;
}

/* footer at the end of the liked list, when there are no more people to display */
footer {
    color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}

/* highlight this page on navbar */
nav ul > li:last-of-type > a {
    color: rgb(0, 0, 0, .9);
    font-family: 'Roboto Bold', sans-serif;
}

nav ul > li:last-of-type > a > img {
    opacity: 1;
}

.notification {
    position: absolute;
    bottom: 50%;
    right: 30px;
    width: 11px;
    height: 11px;
    background: rgb(69, 196, 80);
    border-radius: 100%;
}

/* -------------------------------- desktop -------------------------------- */
@media only screen and (min-width: 800px) {
    body {
        padding: 30px;
    }

    header {
        margin-top: 50px;
        margin-bottom: 10px;
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    main {
        max-width: 800px;
        width: 80%;
        margin: 20px auto;
        border-radius: 15px;
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 17px;
        box-shadow: 0 5px 15px 2px #d6d6d6;
    }
}