@import "general.css";

body {
    padding: 0;
}

/* header with page title */
header {
    padding: 30px 0 0 30px;
}

/* main: list with chats (liked people) */
main ul {
    list-style: none;
    background-color: #FFF;
    padding-bottom: 0;
}

main h2 {
    padding: 0 20px 10px 20px;
    font-size: 1.1em;
}

main ul > li {
    padding: 20px;
    background: #fff;
    border-bottom: .5px solid rgba(0, 0, 0, .2);
}

main ul > li:last-of-type {
    border-bottom: none;
}

main figure {
    display: flex;
    align-items: center;
    position: relative;
}

main figure img {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

main figure > figcaption {
    margin-left: 15px;
}

main figure form button:nth-of-type(2) {
    position: absolute;
    right: 10px;
    line-height: 50px;
    color: #c1c1c1;
    background: none;
}

/* footer at the end of the liked list, when there are no more people to display */
footer {
    color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}

/* highlight this page on navbar */
nav ul > li:last-of-type > a {
    color: rgb(0, 0, 0, .9);
    font-family: 'Roboto Bold', sans-serif;
}

nav ul > li:last-of-type > a > img {
    opacity: 1;
}

/* -------------------------------- desktop -------------------------------- */
@media only screen and (min-width: 800px) {
    header {
        padding: 0;
    }

    main ul {
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0 5px 15px 2px #d6d6d6;
        padding-bottom: 20px;
    }

    main ul li {
        border-radius: 15px 15px 0 0;
        border-color: rgba(0, 0, 0, .05);
    }

    main ul li:last-of-type {
        padding-bottom: 0;
    }
}