@import "general.css";

/* profile */
body {
    padding: 0;
}

main {
    width: 100%;
    padding: 0 25px;
}

/* photo */
main > img:first-child {
    margin: -25px -25px -15px;
    width: calc(100% + 25*2px); /* 100% + main padding */
    height: 375px;
    object-fit: cover;
}

/* info and desc */
main > section {
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
}

/* back button */
main > a:first-of-type {
    color: white;
    position: absolute;
    left: 27px;
    top: 305px;
}

/* artists */
h2 { 
    margin: 30px 0 12.5px 0;
}

ul {
    width: 100%;
    padding-bottom: 70px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

ul::-webkit-scrollbar {
    display: none;
}

li {
    width: 85px;
    margin-right: 30px;
    flex: 0 0 auto;
    text-align: center;
    font-size: .7em;
    line-height: 1.3em;
    text-transform: uppercase;
}

main > ul img {
    border-radius: 100%;
    margin-bottom: 10px;
}

/* buttons */
button {
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translateX(5px);
    bottom: 30px;
    width: 55px;
    height: 55px;
    font-size: 1.4em;
    background: #FFFFFF;
    border: none;
    border-radius: 100%;
    box-shadow: 0 5px 15px 2px #d6d6d6;
}

main > form:first-of-type button {
    transform: translateX(calc(-100% - 5px));
}

/* desktop */
@media only screen and (min-width: 800px) {
    main {
        max-width: 1150px;
        width: calc(100% - 400px - 35px);
        margin: 7% 400px;
        position: relative;
        box-shadow: 0 5px 15px 2px #d6d6d6;
    }

    /* photo */
    main > img:first-child {
        position: absolute;
        margin: 0;
        transform: translateX(calc(-100% - 45px));
        top: 0;
        width: 350px;
        height: 100%;
    }

    /* back button */
    main > a:first-of-type {
    left: -370px;
    top: -35px;
    color: #FF9699;
    }

    main > ul {
        padding-bottom: 30px;
    }
}